.page-header {
    /* width: 100%; */
    height: 50px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-nav-links {
    margin: 20px;
}

.header-nav-links a {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 18px;
    color: var(--color-text-light);
    text-decoration: underline;
}

.header-image {
    max-height: 50px;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-form-root {
    display: flex;
    flex-direction: row;
}

.subscribe-hidden {
    position: absolute;
    left: -5000px;
}

.subscribe-form-input {
    border-radius: 5px 0 0 5px;
    background: var(--color-primary);
    border: 1px solid var(--color-text-light);
    font-size: 12px;
    width: 175px;
    padding: 0 5px;
    height: 38px;
    text-align: left;
}

.subscribe-submit-button {
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--color-text-light);
    margin: 0 0 0 -1px;
    padding: 5px;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-weight: 700;
    height: 40px;
    font-size: 12px;
}

.subscribe-submit-button:active {
    background-color: var(--color-primary-darker);
}

.subscribe-subtitle {
    font-size: 24px;
    font-size: clamp(24px, 2vw, 2vw);
    font-weight: 700;
    color: var(--color-text);
    margin: 0;
}
