:root {
    --maxWidth-content: 50%;
    --fontFamily-sans: "Inter Tight";
    --fontFamily-serif: "Libre Baskerville";
    --lineHeight-none: 1;
    --lineHeight-tight: 1.1;
    --lineHeight-normal: 1.5;
    --lineHeight-relaxed: 1.625;
    /* 1.200 Minor Third Type Scale */
    --fontSize-0: 0.833rem;
    --fontSize-1: 1rem;
    --fontSize-2: 1.2rem;
    --fontSize-3: 1.44rem;
    --fontSize-4: 1.728rem;
    --fontSize-5: 2.074rem;
    --fontSize-6: 2.488rem;
    --fontSize-7: 2.986rem;
    --color-primary: #fefcf6;
    --color-text: #252422;
    --color-text-light: #42403c;
    --color-primary-darker: #e6e4df;
    --color-accent: #a33b20;

  }

body {
    background-color: var(--color-primary);
    color: var(--color-text);
    margin: 0 0;
    font-family: var(--fontFamily-sans);
}

h1 {
    font-size: var(--fontSize-7);
    color: var(--color-text);
}

h2 {
    font-size: var(--fontSize-6);
    color: var(--color-text);
    font-weight: 400;
}

.page-title {
    font-size: clamp(7.24vw, 7.24vw, 7.24vw); /* clamp to fill the viewport exactly */
    margin: 0 0 30px 0;
}

.page-subtitle-wrapper {
    text-align: justify;
    width:100%;
    margin: 2vw 0;
    font-size: 24px;
    font-size: clamp(12px, 1.5vw, 1.5vw);
    font-weight: 300;
    font-family: var(--fontFamily-sans);
    color: var(--color-text-light);
}
  
.page-subtitle-wrapper:after {
    content: "";
    display: inline-block;
    width: 100%;
}
  
h3 {
    font-size: var(--fontSize-4);
    color: var(--color-text);
}

.global-header {
    background-color: red;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

.content {
    /* max-width: var(--maxWidth-content); */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo-img {
    width: 100%;
}

.main-page-header {
    width: 100%;
}

.post-list {
    width: 100%;
}

.post-list ol {
    list-style: none;
    padding: 0 0;
}

.post-list-item {
    margin: 15px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 2px var(--color-text-light);
    border-radius: 5px;

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.post-list-item:hover {
    background-color: var(--color-primary-darker);
}


a.post-list-item-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    z-index: 1000;
}


.post-list-item-content {
    display: flex;
    flex-direction: row;
    font-family: var(--fontFamily-serif);
    color: var(--color-text-light);
}

.post-list-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.post-list-item-header h3 {
    margin: 0 0;
}

.post-list-item-header h5 {
    margin: 0 0;
    color: var(--color-text-light);
}

.post-list-item-content {
    margin-top: 15px;
}

.post-list-item-content p {
    margin: 0 0;
}


.global-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    padding: 15px;
}

.main-page-separator {
    width: 50%;
    max-width: 400px;
}

.main-page-header {
    margin: 0 0 30px 0;
}

.content-divider {
    width: 20px;
    border-bottom: 1px solid var(--color-text);
    margin: 30px 0;
}

.subscribe-form-email {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.subscribe-form-message {
    font-size: 14px;
    margin: 10px 0;
}

.footer-attribution {
    font-size: 14px;
    font-weight: 100;
    color: var(--text-light);
}

.footer-logo {
    width: 50px;
    margin: 15px;
}

.dialog-overlay {
	background-color: var(--color-primary);
    opacity: 0.9;
	position: fixed;
	inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog-content {
	background-color: var(--color-primary);
	border-radius: 5px;
	box-shadow: 0px 0px 2px var(--color-text);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.dialog-content:focus {
	outline: none;
}

.dialog-close-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 12px;
    color: var(--color-text-light);
    text-decoration: underline;
}

.post-content {
    max-width: var(--maxWidth-content);
    text-align: left;
}


.post-content p {
    font-family: var(--fontFamily-serif);
    font-size: 18px;
    line-height: 36px;
}

.post-content h1 {
    margin-bottom: 15px;
}

.post-subtitle {
    color: var(--color-text-light);
    font-weight: 200;
    margin: 0;
}

.post-date {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text-light);
}

.post-sub-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}


.full-width {
    width: 100%;
}


@media screen and (max-width: 1024px) {
    .post-content {
        max-width: 100%;
    }
}



@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
