:root {
    --maxWidth-content: 50%;
    --fontFamily-sans: "MontserratVariable", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --fontFamily-serif: "Libre Baskerville";
    --lineHeight-none: 1;
    --lineHeight-tight: 1.1;
    --lineHeight-normal: 1.5;
    --lineHeight-relaxed: 1.625;
    /* 1.200 Minor Third Type Scale */
    --fontSize-0: 0.833rem;
    --fontSize-1: 1rem;
    --fontSize-2: 1.2rem;
    --fontSize-3: 1.44rem;
    --fontSize-4: 1.728rem;
    --fontSize-5: 2.074rem;
    --fontSize-6: 2.488rem;
    --fontSize-7: 2.986rem;
    --color-primary: #005b99;
    --color-text: #2e353f;
    --color-text-light: #4f5969;
    --color-heading: #1a202c;
    --color-heading-black: black;
    --color-accent: #fffefa;
  }

body {
    background-color: var(--color-accent);
    margin: 0 0;
}

h2 {
    font-size: var(--fontSize-6);
    font-family: var(--fontFamily-serif);
}

.global-header {
    background-color: red;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.content {
    max-width: var(--maxWidth-content);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    max-width: 150px;
}